section {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.toggle {
  display: flex;
  height: 5em;
}

.toggle button {
  background: none;
  width: 50%;
  color: white;
  padding-top: 1em;
  border: none;
  font-size: 1.2em;
}

.toggle button:hover {
  background-color: #1f2123;
  transition: 0.5s;
  cursor: pointer;
}

.selected {
  text-shadow: 0.06em 0 0 currentColor;
  text-decoration: underline;
}

section article {
  background-color: #1f2123;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 95%;
  color: #f8f9fa;
  cursor: pointer;
  padding: 1em;
}

section article > * {
  margin-top: 0.5em;
}

section article img {
  height: auto;
}

section article h1 {
  font-size: 2em;
}

section article h1 span {
  color: gray;
}

.time {
  color: gray;
}

@media (max-width: 980px) {
  section {
    width: 95%;
  }
  section article {
    margin: 1em;
  }
}
