section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.toggle {
  display: flex;
  height: 5em;
}

.toggle button {
  background: none;
  width: 50%;
  color: white;
  padding-top: 1em;
  border: none;
  font-size: 1.2em;
}

.toggle button:hover {
  background-color: #1f2123;
  transition: 0.5s;
  cursor: pointer;
}

.selected {
  text-shadow: 0.06em 0 0 currentColor;
  text-decoration: underline;
}

section article {
  background-color: #1f2123;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #f8f9fa;
}
section article:first-of-type {
  margin-top: 0;
}

section article img {
  height: auto;
}

section article h1 {
  font-size: 3em;
}
