.editArticle {
  display: flex;
  height: 90vh;
}

.inputs {
  background-color: #262929;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 0 1em 0 1em;
  color: white;
}

.inputs > * {
  margin-top: 1em;
}

.inputs label {
  margin-right: 1em;
}

.inputs input {
  width: 90%;
  margin-right: 1em;
  margin-bottom: 1em;
}

.inputs textarea {
  width: 90%;
  resize: none;
  height: 8em;
}

.inputs input[type="checkbox"] {
  width: 1em;
  margin-top: 1em;
}

.inputs button {
  margin-top: 1em;
}

.content {
  color: white;
  width: 80%;
}
.content label {
  margin: 1em;
  display: block;
}

.content p {
  margin: 1em;
}

.content p a {
  color: white;
}

.content textarea {
  resize: none;
  height: 80%;
  width: 90%;
  margin-left: 1em;
  background-color: #262929;
  color: white;
}

.preview {
  width: 80%;
  color: white;
  overflow: scroll;
}

.article {
  margin-left: 1em;
  width: 60%;
  color: white;
  overflow: scroll;
  margin-top: 1em;
}

.article > * {
  margin-top: 0.5em;
}

.article img {
  width: 100%;
  height: auto;
}

.article p {
  line-height: 150%;
  font-size: 18px;
}

.article ul {
  line-height: 150%;
  font-size: 18px;
}

.article table {
  border-collapse: collapse;
}

.article td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.article a {
  color: white;
}

@media (max-width: 980px) {
  .article {
    width: 100%;
  }
}
