body {
  background-color: #131415;
}
.banner {
  height: 5em;
  background-color: #1f2123;
  display: flex;
  justify-content: flex-end;
}

.banner h1 {
  font-size: 3em;
  margin: auto;
  position: relative;
}

.banner h1 a {
  text-decoration: none;
  color: #f8f9fa;
}

.banner .login-button {
  background-color: #f8f9fa;
  border-radius: 0.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-right: 1em;
  margin-top: 0.5em;
  width: 5em;
  text-align: center;
  height: 1em;
  text-decoration: none;
  color: black;
}

.banner .profile-button {
  background-color: #f8f9fa;
  border-radius: 0.5em;
  padding-top: 1.5em;
  padding-bottom: 2em;
  margin-right: 2em;
  margin-top: 1.5em;
  width: 10em;
  text-align: center;
  height: 1em;
  text-decoration: none;
  color: black;
}

.profile-dropdown {
  position: absolute;
  right: 1em;
  margin-top: 1em;
  width: 10em;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  color: black;
}

.profile-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 1em 0;
}

.profile-dropdown li {
  padding: 1em 1em;
  cursor: pointer;
}

.profile-dropdown li:hover {
  background-color: #f0f0f0;
}

.profile-dropdown li a {
  text-decoration: none;
  color: black;
  display: block;
}

section {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

section article {
  background-color: #1f2123;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #f8f9fa;
}

section article img {
  height: auto;
}

section article h1 {
  font-size: 3em;
}

.form-div .form-container {
  background-color: #f8f9fa;
  height: 36em;
  width: 40%;
  margin: auto;
  margin-top: 10%;
  border-radius: 1em;
}

.form-div .form-container form {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.form-div .form-container form > * {
  margin: 0.5em;
  font-size: 1.2em;
  width: 100%;
}

.form-div .form-container form input {
  height: 2em;
  border-radius: 0.5em;
}

.form-div .form-container form button {
  height: 2em;
  background-color: #1f2123;
  color: #f8f9fa;
  border-radius: 0.5em;
}

.form-div .form-container form button:disabled {
  background-color: hsl(210, 1%, 31%);
}

.form-div .form-container form .error {
  color: red;
}

.form-div .form-container form select {
  height: 9em;
}

.custom-select-container {
  width: 100%;
  font-family: Arial, sans-serif;
}

.custom-select-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  background-color: #fff;
}

.custom-option {
  padding: 0.3em 0.2em;
  margin: 0.1em 0;
  border-radius: 6px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.2s ease;
}

.custom-option:hover {
  background-color: #e0e0e0;
}

.custom-option.selected {
  background-color: #1f2123;
  color: white;
}
