.search {
  background-color: #1f2123;
  height: 100%;
  padding-bottom: 1em;
  color: white;
  display: flex;
  justify-content: center;
}

.search div {
  width: 980px;
}

.search div h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.search div .inputwrapper {
  display: flex;
}

.search div .inputwrapper .inputdiv {
  height: 3em;
  width: 50%;
  border: 1px solid white;
  border-right-style: none;
  border-radius: 0.3em 0em 0em 0.3em;
  overflow: hidden;
  background-color: black;
}

.search div .inputwrapper .inputdiv input {
  all: unset;
  height: 100%;
  width: 100%;
  background-color: black;
  margin-left: 1em;
}

.search div .inputwrapper button {
  all: unset;
  color: black;
  background-color: white;
  border-radius: 0.3em;
  padding: 1em;
}

.search div .inputwrapper button:hover {
  cursor: pointer;
}

.search div .inputwrapper button:disabled {
  background-color: gray;
}

.search div label {
  margin-top: 1em;
  margin-right: 1em;
  display: inline-block;
}

.search div input {
  margin-right: 1em;
}

.articlediv {
  display: flex;
  justify-content: center;
}
.articlediv div {
  width: 980px;
}

@media (max-width: 980px) {
  .search div {
    width: 100%;
  }

  .search {
    padding-left: 1em;
  }
  .articlediv div {
    width: 100%;
  }
}
